"----------Plugins
set sneak
set surround
set which-key
set notimeout
set commentary
set highlightedyank
set textobj-entire

"---------- Options
set clipboard=unnamedplus
" search
set wildignorecase
set infercase
set ignorecase
set smartcase
set incsearch
set hlsearch
" indent
set breakindent
set autoindent
set smartindent
" tab
set expandtab
set smarttab
" display
set relativenumber
" sound
set visualbell

"---------- Variables
let mapleader = " "

"---------- Original Keymaps
let g:WhichKey_DefaultDelay = 0

" basic
let g:WhichKeyDesc_misc = "<leader>\\ misc"
let g:WhichKeyDesc_reload_vimrc = "<leader>\\r IdeaVim.ReloadVimRc.reload"
nnoremap <leader>\\r :<C-u>action IdeaVim.ReloadVimRc.reload<CR>
noremap x "_x
noremap ,d "_d
noremap ,D "_D
nnoremap <ESC><ESC> :nohlsearch<CR>

" move
nnoremap s <Plug>(sneak_s)
nnoremap S :<C-u>action KJumpAction.Char2<CR>

" disable cursor keys
vnoremap  <Up>     <nop>
vnoremap  <Down>   <nop>
vnoremap  <Left>   <nop>
vnoremap  <Right>  <nop>
inoremap  <Up>     <nop>
inoremap  <Down>   <nop>
inoremap  <Left>   <nop>
inoremap  <Right>  <nop>
noremap   <Up>     <nop>
noremap   <Down>   <nop>
noremap   <Left>   <nop>
noremap   <Right>  <nop>

" mode switching
inoremap <silent> jj <ESC>
inoremap <silent> jk <ESC>
